.image-bg {
    width:100%;
    height:650px;
    background-image: url("/sponge-island-Header.jpg");
    background-size: 100% 650px;
    background-attachment: fixed;
    background-repeat: no-repeat; 
   }
  .heads-bg{
    height: 650px;
    color:#e9e9e9;
  }
  div.stickyDiv{
    position: sticky;
    top: 0;
  }
  .heads-bg h1{
    font-size: 50px;
    margin: auto;
  }